#btn1
{
  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    margin-bottom: 10 px;
}
#btn2{
    padding: 4px;
 
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
